<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitorando</title>
    # Procurar futuramente baixar o arquivo e adicionar como um arquivo estatico
    # Para não depender de um link que pode parar de funcionar
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    {% block 'head' %}{% endblock 'head' %}
</head>
<body>
    {% block 'body' %}{% endblock 'body' %}
</body>
</html>